<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./mystyles2.css" />
  </head>
  <body>
    <a title="Website" href="http://www.lemoncode.net">lemoncode</a>
    <a title="Email" href="mailto:info@lemoncode.net">EMail</a>
    <a href="file1.pdf">File PDF</a>
    <a href="file2.txt">File TXT</a>
    <div value="" top-header top>
      <p>Text</p>
    </div>
  </body>
</html>
